<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chunte Face Recognition</title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>

    <div class="login-box">
      <img src="/static/img/Logo_Chunte.png" class="avatar" alt="Avatar Image">
      <h1>¡Búsqueda de imágenes!</h1>

      <form method="POST" enctype="multipart/form-data" align="center">
        Ingresa tu imagen:
        <div></div>
        </br>
        <input type="file" name="file">
        </br>
        </br>
        </br>
        </br>
        <div></div>
        ¿Cuántas imágenes deseas?
        <div></div>
        </br>
        <input type="number" name="k">
        <div></div>
        </br>
        </br>
        </br>
        </br>
        <input type="submit" value="Cargar">
        <div></div>
        </br>
      </form>
    </div>
  </body>
</html>